h1 {
    font-family: Montserrat, sans-serif;
}

h2 {
    font-family: Montserrat, sans-serif;
}

h3 {
    font-family: Montserrat, sans-serif;
    margin-top: 2em;
}

body {
    font-family: Merriweather, serif;
    line-height: 1.5;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

table {
    border-spacing:0;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align:left;
}

pre {
    min-width: 50%;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    min-width: 50%;
    max-width: 70%;
    display: block;
}

@media all and (max-width: 768px)
{
    table {
        max-width: 100%;
    }

    pre {
        max-width: 100%;
    }

    img {
        max-width: 100%;
    }
}
