.container {
    max-width: 60rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.article {
    max-width: 80%;
}

.headingXl {
    font-size: 2.0625rem;
    line-height: 1.3;
    font-weight: 700;
    margin: 1rem 0;
}
  
.headingLg {
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 700;
    margin: 1rem 0;
    margin-bottom: -10px;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.padding1px {
    padding-top: 1px;
}

.lightText {
    color: #666;
}

@media all and (max-width: 768px)
{
    .article {
        max-width: 100%;
    }
}
